<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <title>HOSA</title>
    <link href="./css/style.css" rel="stylesheet">
  </head>

  <style>
    .inline-label {
      display: inline-flex;
      align-items: center;
      padding-bottom: 1%;
    }

    .e{
      display: flex;
      justify-content: right;
      position: sticky;
    }

    .timerCard {
      position: sticky;
      top: 0;
      background-color: #be4b4b;
      color: white;
      text-align: center; /* Center text horizontally */
      margin-bottom: 2em;
      width: 7em;
      border: 3px solid black;
      border-radius: 20px;
      font-size: 1.5em; /* Increase text size */
      display: flex;
      justify-content: center; /* Center content horizontally */
      align-items: center; /* Center content vertically */
}

  </style>

  <body class="bg-gray-100">


    <section class="encapsule ">
      <h1 class="examHeadin text-red-800 text-center m-12 text-6xl font-bold">Exam</h1>

      <div class="e">
      <div class="timerCard " >
        <p id="time" style="display: none;"> <%= time %></p>
        <% if(timerBoolean == "true"){ %>
        <p id="number" style="display: none;"> <%= number %></p>
        <h5 class="examHeading" id="demo"></h5>
        <% } %>
      </div>
    </div>

      <hr class="border-t-2 border-gray-400 my-1">

      <div class="test m-12">


        <form id="testForm" action="/answers" method="post">

          <% for(var i = 0; i < number; i++){ %>

          <div class="questionCard">
            <h6 class="mainQ text-xl mt-6 mb-3"> <strong id="strong"><em><%= i+1 %>.</em></strong> <%=questions[i].Question %></h6>

            <label class="inline-label w-full ">
              <input type="radio" style="margin-right: 5px;" name=<%=i%> value="A" required>
              <p class="answers ml-8 text-base"> <strong class="strong2"><em></em>A.</em></strong> <%=questions[i].OptionOne%></p>
            </label>
            <br>
            <label class="inline-label">
              <input type="radio"
                style="margin-right: 5px;" name=<%=i%>
              value="B" required> <p class="answers ml-8 text-base"><strong class="strong2"><em></em>B.</em></strong> <%=questions[i].OptionTwo
                %></p>
            </label>
            <br>
            <label class="inline-label">
              <input type="radio"
                style="margin-right: 5px;" name=<%=i%>
              value="C" required> <p class="answers ml-8 text-base"><strong class="strong2"><em></em>C.</em></strong> <%=questions[i].OptionThree
                %></p>
            </label>
            <br>
            <label class="inline-label">
              <input type="radio"
                style="margin-right: 5px;" name=<%=i%>
              value="D" required> <p class="answers ml-8 text-base"><strong class="strong2"><em></em>D.</em></strong> <%=questions[i].OptionFour
                %></p>
            </label>
            <br>
          <hr class="border-t-2 border-gray-400 my-1">
          </div>

          <% } %>

          <% var questionIds = questions.map(function(question) { return question._id; }); %>
          <input type="hidden" name="questionIds" value=<%=JSON.stringify(questionIds) %>>
          <input type="hidden" name="number" value=<%= JSON.stringify(number) %>>

          <div class="flex justify-center">
          <button type="submit" class="testButton text-white bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300
          font-medium rounded-full text-sm px-5 py-2.5
           text-center me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800 mt-3">Submit</button>
          </div>


        </form>

      </div>
    </section>
    <script>

      var number = document.getElementById("number").innerHTML;
      var dateStr = parseInt(document.getElementById("time").innerHTML,10);
      dateStr += (number * 60 * 1000 * 0.75)
      var getSecond = setInterval(function() {

        var now = new Date().getTime();
        console.log(now)
        var distance = dateStr - now;
        console.log(distance)
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        if(hours > 0){

        document.getElementById("demo").innerHTML = hours + "h " + minutes + "m " + seconds + "s ";
        } else{
          document.getElementById("demo").innerHTML = minutes + "m " + seconds + "s ";
        }

        if (distance < 0) {
          clearInterval(getSecond);
          document.getElementById("demo").innerHTML = "EXPIRED";
          document.getElementById("testForm").submit();
        }
      }, 1000);



//       var isCursorActive = true;

//       window.addEventListener('blur', function() {
//          isCursorActive = false;
//        });

//         window.addEventListener('focus', function() {
//           isCursorActive = true;
//         });
//
//       setInterval(function() {
//           if (!isCursorActive) {
     //      document.getElementById("testForm").submit();
     //   }
     // }, 100);
      </script>
  </body>

</html>
