<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
\

  </head>

    <section class="encapsule">

      <div class="test">
        <div class="resultsCard">
          <h1 class="title">Results</h1>
          <div class="containerForStats">
            <h3 class="stats1">Questions Right: </h3>
            <h3 class="stats"><%= results.correct %></h3>
          </div>
          <div class="containerForStats">
            <h3 class="stats1">Questions Wrong: </h3>
            <h3 class="stats"><%= results.incorect %></h3>
          </div>
          <div class="containerForStats">
            <h3 class="stats1">Total Questions: </h3>
            <h3 class="stats"><%= number %></h3>
          </div>
          <div class="containerForStats">
            <h3 class="stats1">Total percentage: </h3>
            <h3 class="stats"><%= results.correct*100/number%>% </h3>
          </div>
        <hr>
        </div>


        <form id="testForm" action="/done" method="post">

          <% for(var i = 0; i < number; i++){ %>

          <div class="questionCard">

            <h6
              class="<%= questions[i].Answer === answers[i] ? 'green' : 'red' %> mainQ">
              <strong id="strong"><em><%= i+1 %>.</em></strong> <%=questions[i].Question %></h6>
            <button class="dropdownToggle" type="button">
              <img class="dropdownArrow" src="./drop-down-arrow.png">
            </button>

            <div class="H optionToChose<%=i%>">
              <label class="inline-label">
                <input type="radio"
                  style="margin-bottom: 13px; margin-right: 5px;"
                  name=<%=i%> value="A" required <% if(answers[i] === 'A') { %>
                checked <%}else{%> disabled <%}%>>
                <p class="<%= questions[i].Answer === 'A' ? 'green2' : '' %> answers"><strong class="strong2">A.</strong>
                  <%= questions[i].OptionOne %></p>
              </label>
              <br>
            </div>
            <div class="H optionToChose<%=i%>">
              <label class="inline-label">
                <input type="radio"
                  style="margin-bottom: 13px; margin-right: 5px;"
                  name=<%=i%> value="B" required <% if(answers[i] === 'B') { %>
                checked <%}else{%> disabled <%}%>>
                <p class="<%= questions[i].Answer === 'B' ? 'green2' : '' %> answers"><strong class="strong2">B.</strong>
                  <%=questions[i].OptionTwo %></p>
              </label>
              <br>
            </div>
            <div class="H optionToChose<%=i%>">
              <label class="inline-label">
                <input type="radio"
                  style="margin-bottom: 13px; margin-right: 5px;"
                  name=<%=i%> value="C" required <% if(answers[i] === 'C') { %>
                checked <%}else{%> disabled <%}%>>
                <p class="<%= questions[i].Answer === 'C' ? 'green2' : '' %> answers"><strong class="strong2">C.</strong>
                  <%=questions[i].OptionThree %></p>
              </label>
              <br>
            </div>
            <div class="H optionToChose<%=i%>">
              <label class="inline-label">
                <input type="radio"
                  style="margin-bottom: 13px; margin-right: 5px;"
                  name=<%=i%> value="D" required <% if(answers[i] === 'D') { %>
                checked <%}else{%> disabled <%}%>>
                <p class="<%= questions[i].Answer === 'D' ? 'green2' : '' %> answers"><strong class="strong2">D.</strong>
                  <%=questions[i].OptionFour %></p>
              </label>
              <br>
            </div>

          </div>
          <% } %>
          <button type="submit" class="testButton"> Home </button>
        </form>

      </div>
    </section>
    <script>
      const elements = document.getElementsByClassName('dropdownToggle');

      for (let i = 0; i < 100; i++) {
        elements[i].addEventListener('click', () => {
          const buttons = Array.from(document.getElementsByClassName('optionToChose' + i));
          buttons.forEach(e => {
            e.classList.toggle('invisible');
          });
        });
      }
    </script>

  </body>

</html>
